<.header>
  New Profile
  <:subtitle>Use this form to manage profile records in your database.</:subtitle>
</.header>

<.profile_form changeset={@changeset} action={~p"/profiles"} />

<.back navigate={~p"/profiles"}>Back to profiles</.back>
