<.header>
  Profile <%= @profile.id %>
  <:subtitle>This is a profile record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/profiles/#{@profile}/edit"}>
      <.button>Edit profile</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="User"><%= @profile.user_id %></:item>
  <:item title="Age"><%= @profile.age %></:item>
</.list>

<.back navigate={~p"/profiles"}>Back to profiles</.back>
